.banner {
  background: url(../image/banner_02.jpg) center center/6000px;
}

.banner .area {
  position: relative;
  height: 285px;
  background-color: orange;
}

.banner .area .area-left {
  position: relative;
  width: 730px;
}

/* 图片列表 */
.banner .area .area-left .img-list {
  display: flex;
  overflow: hidden;
}

.banner .area .area-left .img-list li {
  flex-shrink: 0;
  width: 100%;
}

.banner .area .area-left .img-list .item {
  display: block;
}

.banner .area .area-left .img-list .item img {
  width: 100%;
  height: 285px;
}

/* 点列表 */
.banner .area .area-left .dots-list {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.banner .area .area-left .dots-list .item {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../image/banner_sprite.png) 3px -343px;
  margin: 0 3px;
}

.banner .area .area-left .dots-list .item.active,
.banner .area .area-left .dots-list .item:hover {
  background-position: -16px -343px;
}

.banner .area .area-right {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  width: 254px;
  background: url(../image/download_sprite.png);
}

.banner .area .area-right .download {
  display: block;
  width: 215px;
  height: 56px;
  margin: 186px 0 0 19px;
  text-indent: -9999px;
}

.banner .area .area-right .download:hover {
  background: url(../image/download_sprite.png);
  background-position: 0 -290px;
}

.banner .area .area-right .desc {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #8d8d8d;
}

.banner .area .control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 37px;
  height: 63px;
  margin: auto 0;
  text-indent: -9999px;
  background: url(../image/banner_sprite.png);
}

.banner .area .control.left {
  background-position: 0 -360px;
  left: -63px;
}

.banner .area .control.right {
  background-position: 0 -508px;
  right: -63px;
}

.banner .area .control.left:hover {
  background-position: 0 -430px;
}

.banner .area .control.right:hover {
  background-position: 0 -578px;
}